<app-header title="Tasks"></app-header>
<ion-content>
  <ion-list>
      <ion-item-sliding id="item100" *ngFor="let task of tasks"  detail>
          <ion-item>
            <ion-label> 
                <h2>{{ task.name }}</h2>         
                <p>{{ task.description }}</p>
            </ion-label>           
          </ion-item> 
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" (click)="presentAlertConfirm()" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option>
              <ion-icon slot="icon-only" (click)="editProject()" md="md-create"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  <ion-fab  botton right >
      <ion-fab-button color="secondary" ion-fab><ion-icon md="md-add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>