<app-header title="Projects"></app-header>
<ion-content>
  <ion-list>
    <ion-item-sliding id="item100" *ngFor="let project of projects"  detail>
        <ion-item>
          <ion-avatar slot="start" >
              <img src="/assets/img/img-project.jpg">
            </ion-avatar>
          <ion-label [routerLink]="['/task']"> 
              <h2>{{ project.name }}</h2>         
              <p>{{ project.description }}</p>
          </ion-label>           
          <ion-toggle [(ngModel)]="project.state"></ion-toggle>
        </ion-item> 
        <ion-item-options side="end">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" (click)="presentAlertConfirm()" name="trash"></ion-icon>
          </ion-item-option>
          <ion-item-option>
            <ion-icon slot="icon-only" (click)="editProject()" md="md-create"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
      <ion-fab-button class="addProject" (click)="newProject()" slot="end" color="secondary" ion-fab><ion-icon md="md-add"></ion-icon></ion-fab-button>
  </ion-toolbar>
</ion-footer>