<ion-header class=".header-layout">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
      <ion-title text-capitalize>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>