<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bits Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/projects" >
    Project
  </ion-button>
</ion-content>
